<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style_emp.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Employee</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Employee Tasks</h1>
      <ul id="task-list" class="task-list"></ul>
    </div>
    <select id="employee-select">
      <option value="">Select Employee</option>
      <option value="John Doe">John Doe</option>
      <option value="Jane Smith">Jane Smith</option>
    </select>
    <button id="add-employee-btn">Ажилтан нэмэх</button>
    <button id="delete-employee-btn">Ажилтан устгах</button>
    <button id="logout-btn">Log Out</button>
    <script src="/route/index.js"></script>
    <script src="/route/emp_task.js"></script>

    <script>
      const tasksData = [
        { id: 1, name: "Task 1", assignedTo: "John Doe" },
        { id: 2, name: "Task 2", assignedTo: "Jane Smith" },
      ];

      const taskList = document.getElementById("task-list");

      function createTaskItem(task) {
        const listItem = document.createElement("li");
        listItem.textContent = `${task.name} - Assigned to: ${task.assignedTo}`;
        taskList.appendChild(listItem);
      }
      document.getElementById("logout-btn").addEventListener("click", () => {
        window.location.href = "/templates/login.html";
      });
      tasksData.forEach((task) => {
        createTaskItem(task);
      });
    </script>
  </body>
</html>
